
{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
  <!-- contact section -->
{% block content %}
   {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
    {% endfor %}
{% endif %}
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form method="POST">
            {% csrf_token %}
              <div>
                <input type="text" placeholder="Full Name " name="name" />
              </div>
              <div>
                <input type="email" placeholder="Email" name= "email"/>
              </div>
              <div>
                <input type="text" placeholder="Phone number" name="number"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message"/>
              </div>
              <div class="d-flex ">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../static/images/contact-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
{% endblock content %}